<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>The Music Hole</title>
</head>
<body>
    <header>
        <h1><a href="/">The Music Hole</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="/playlists">My Playlist</a></li>
            <li><a href="/songs">All songs</a></li>
            <li class="loginButton"><button><a href="/login">Login</button></a></li>
        </ul>
    </nav>
        {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
    <section>
        {{{ body }}}
    </section>
    <footer>
         &copy; The Music Hole, <b>Links</b>
    </footer>
      {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>