<h2>ALL SONGS!</h2>

<div>
  {{#each songs}}
    <div class="song">
      <h3>{{this.dataValues.song}}</h3>
      <p>Artist: {{this.dataValues.artist}}</p>
    </div>
  {{/each}}
</div>

<footer>
    {{> copywriteinfo}}
</footer>