<h2>ALL SONGS!</h2>

<div style="background-color:#734258">
    {{#each songsArray}}
        {{> songs songName=../song artistName=../artist}}
    {{/each}}
</div>

<footer>
    {{> copywriteinfo}}
</footer>