<h2>ALL SONGS!</h2>
<br><br>
Last Song Viewed: {{lastSong}}
<br><br>

<div style="background-color:#734258">
    {{#each songsArray}}
        {{> songs songName=../song artistName=../artist}}
    {{/each}}
</div>

<footer>
    {{> copywriteinfo}}
</footer>