<h2>ALL SONGS!</h2>

<div>
  {{#each songs}}
    <div class="song">
      <h3><a href="/songs/{{this.dataValues.id}}">{{this.dataValues.song}}</a></h3>
      <p>Artist: {{this.dataValues.artist}} <button class="playlist-btn" onclick="addClick()">Add to Playlist</button></p>

    </div>
  {{/each}}
</div>

<footer>
    {{> copywriteinfo}}
</footer>