<form class="form register-form" id="register">
  <div class="form-group">
    <label for="name-register">Name:</label>
    <input class="form-input" type="text" id="name-register" name="name" />
  </div>
  <div class="form-group">
    <label for="email-register">Email:</label>
    <input class="form-input" type="text" id="email-register" name="email" />
  </div>
  <div class="form-group">
    <label for="password-register">Password:</label>
    <input class="form-input" type="password" id="password-register" name="password" />
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>

<script src="/js/register.js"></script>